/*  your css code here. If applicable */
.container{
	display:visible;
	background:rgb(211,211,211);
	padding:10px;
}
#navv{
	background:rgb(211, 211, 211);
	padding:10px;
	
}
ul{
	display:flex;
}
li{
	display:inline;
	margin-right:1rem;
	list-style:none;
}